{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans "Dashboard" %}</h2>

<p>{% blocktrans %}You can manage your account and single sign on features here.{% endblocktrans %}</p>

<ul>
  <li><a href="{% url "change-password" %}">{% trans "Change Password" %}</a></li>
  <li><a href="{% url "oauth2_provider:authorized-token-list" %}">{% trans "Single Sign On Applications" %}</a></li>
  <li><a href="{% url "oauth2_provider:list" %}">{% trans "Manage Applications" %}</a></li>
  <li><a href="{% url "apidoc" %}">{% trans "API docs" %}</a></li>
  {% if user.is_staff %}
  <li><a href="{% url "admin:index" %}">{% trans "Site Administration" %}</a></li>
  {% endif %}
  <li><a href="{% url "logout" %}">{% trans "Log out" %}</a></li>
</ul>
{% endblock %}
